<div class="container">
    <h2>Batch Clean</h2>
    <div class="gap"></div>
    <ul style="font-size: 16px;">
        <li>There is no interface on this page for you to process data, as it has to be running locally</li>
        <li>Due to the limiation of pure frontend project, it involves some manual steps to work with mutiple files</li>
        <div class="gap"></div>
        <li>The limitations are:</li>
        <li class="member">No generic way of loading all source data files, or it makes it too heavy to have all files stored in frontend (18.76GB)</li>
        <li class="member">The limitaion of computing ability of frontend project, as everything happens in frontend, it takes about 10 minutes to generate a 43000 records clean data</li>
        <div class="gap"></div>
        <li>Manual steps are:</li>
        <li class="member">Running this page locally, feed source file of 1 month data for each round</li>
        <div class="gap"></div>
        <li>This batch clean is using the same mechanism as the single file clean, but filtering out every minute data instead of every second, for a faster processing speed</li>
        <div class="gap"></div>
        <li>Possible future work for this tool is to setup the backend server and store the file in some cloud storage account, to have a fast processing speed and light project</li>
        <div class="gap"></div>

        <li>Got any question? Please contact shuhan@uvic.ca</li>
    </ul>

    <div class="gap"></div>
    <div class="gap"></div>
    <div style="font-size: 16px;">
        An example of clean data in CSV format:
    </div>
    <div style="text-align: center;">
        <img width="600" height="480" alt="Clean Data" src="assets/img/clean-data.png"/>
    </div>

</div>
