<div class="toolbar" role="banner">
  <img width="100" height="40" alt="Uvic Logo" src="assets/img/UVic_logo.jpg"/>

  <div>
    <span style="font-size: 24px;">Capstone Project - Anomaly Data Detection</span>
  </div>

  <div class="spacer"></div>

  <span><a routerLink="/home"><span class="nav-sub-title">Description</span></a></span>
  <span><a routerLink="/data-clean"><span class="nav-sub-title">Data Clean</span></a></span>
  <span><a routerLink="/data-clean-new"><span class="nav-sub-title">Batch Clean</span></a></span>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
  
  <footer class="fixed-bottom" style="text-align: center;margin-bottom: 20px;">
    <div class="footer">© 2021 Copyright: Shu Han  <a href="https://www.linkedin.com/in/shu-han/">LinkedIn</a></div>
  </footer>
</div>
