<div class="container">
    <div class="description-zone">
        <h2>How it works?</h2>
        <div class="gap"></div>
        <ul>
            <li>This is a data cleanning tool</li>
            <li>The source file is in JSON fromat, and the output is either in JSON or CSV format</li>
            <li>The example JSON file could be download <span style="font-weight: bold;"><a href="../../../assets/data/test-data/sample.json" download>here</a></span></li>
            <li>The purpose of this tool is to filter out the bad data for "Pressure" and "Temperature"</li>
            <li>The bad data is defined as Empty String, Null and "NaN"</li>
            <li>As this is a pure frontend project, without any backend serviceß, the processing speed is not fast, please wait for it to complete. Once the process finished, you will see two download buttons</li>
    
            <li>Got any question? Please contact shuhan@uvic.ca</li>
        </ul>
    </div>
    <div class="working-zone">
        <div class="loading-zone">
            <input class="form-control" type="file" (change)="onFileChange($event)" style="width: 75%; display: inline-block;">
            
            <ng-container *ngIf="processingFileInProgress" >
                Processing ...<clr-spinner [clrInline]="true" style="margin-left: 20px;"></clr-spinner>
            </ng-container>
            <ng-container *ngIf="!processingFileInProgress" style="width: 20%; display: inline-block;">
                <button style="font-size: 12px; margin-left: 10px;" (click)="processFile()" class="btn btn-primary" [disabled]="dataSource == null">
                    Process
                </button>
            </ng-container>
        </div>
        
        <div class="gap"></div>
        <!-- <ng-container>
            <clr-progress-bar [clrValue]="processingPercentageOfPressure"></clr-progress-bar>
            <div class="gap"></div>
            <clr-progress-bar [clrValue]="(indexOfTemperature / totalTemperatureSamples) * 100"></clr-progress-bar>
        </ng-container>
        <div class="gap"></div> -->
        
        <div class="box">
            <span style="font-weight: bold;">Source json file name:</span>
            <div class="gap"></div>
            {{sourceJsonFileName}} 
        </div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="box">
            <span style="font-weight: bold;">Before clean:</span>
            <div class="gap"></div>
            <div>
                <div>
                    Pressure data count: {{totalPressureSamples}}
                </div>
                <div>
                    Temperature data count: {{totalTemperatureSamples}}
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <div class="box">
            <span style="font-weight: bold;">After clean:</span>
            <div class="gap"></div>
            <div>
                Valid data count:
                <div class="gap"></div>
                <div class="box">
                    <div>
                        Pressure: {{cleannedPressureData.valid.actualSamples}}
                    </div>
                    <div>
                        Temperature: {{cleannedTemperatureData.valid.actualSamples}}
                    </div>
                </div>
            </div>
            <div class="gap"></div>
            <div>
                Invalid data count:
                <div class="gap"></div>
                <div class="box">
                    <div>
                        Pressure: {{cleannedPressureData.invalid.actualSamples}}
                    </div>
                    <div>
                        Temperature: {{cleannedTemperatureData.invalid.actualSamples}}
                    </div>
                </div>
            </div>
        </div>
        
        <ng-container *ngIf="valueCountDoesNotMatch">
            <span style="color: red;">The data length does not match</span>
        </ng-container>
        
        <ng-container class="text-center" *ngIf="processPressureDataFinished && processTemperatureDataFinished">
            <a style="font-size: 12px;float:left" class="btn btn-success" title="Download JSON" [href]="downloadJsonHref" [attr.download]="downloadFileName">Download JSON</a>
        </ng-container>
        
        <ng-container class="text-center" *ngIf="processPressureDataFinished && processTemperatureDataFinished">
            <a style="font-size: 12px;float: right;" class="btn btn-success" title="Download CSV" (click)="convertJsonResultToCsv()">Download CSV</a>
        </ng-container>
    </div>
    
</div>
