<div class="sub-page-title">Description</div>
<div class="main-content">
    <ul>
        <li>This is a course project at University of Victoria, BC, Canada.</li>
        <li>The specific course is ECE ### - Capstone Project, Instructor: Dr. Kin Fun Li</li>
        <li>The authors of this website are actively attending this course during May 2021 to Aug 2021.</li>
        <li>The purpose of this project is trying to *********************. And it will apply the public data from <a href="">***********</a> </li>
        <li>This project starts from April, 2021, and will be finished before September, 2021.</li>
        <li>Team members: *****************</li>

        <li>Author LinkedIn: <a href="https://www.linkedin.com/in/shu-han/">https://www.linkedin.com/in/shu-han/</a></li>
    </ul>
</div>
