<div class="sub-page-title">Description</div>
<div class="main-content">
    <ul>
        <li>This is a course project at University of Victoria, BC, Canada.</li>
        <li>The specific course is ECE 597 - Capstone Project, Instructor: Dr. Kin Fun Li</li>
        <li>The authors of this website are actively attending this course during May 2021 to Aug 2021.</li>
        <li>The purpose of this project is trying to detect anomaly data among thousands of sensors data gathered from ONC networks. And it will apply the data from <a href="https://data.oceannetworks.ca/">Ocean Networks Canada</a> </li>
        <li>This project starts from April, 2021, and will be finished before September, 2021.</li>
        <li>Team members: </li>
        <li class="member">Christopher Chiu, christopherchiu@uvic.ca</li>
        <li class="member">Shu Han, shuhan@uvic.ca</li>
        <li class="member">Vu Nguyen, vunx@uvic.ca</li>
        <li class="member">Zixuan Deng, zixuandeng@uvic.ca</li>
        <li class="member">Zirui Li, grace996@uvic.ca</li>

    </ul>
</div>
